body{
    background-color: #f4f4f4;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-control{
    max-width: 500px;
}

.shoppingListContainer{
    margin-top: 20px;
}

.productName{
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;

    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
}

.fa-trash-alt{
    font-size: 20px;

    margin-left: 10px;
    cursor: pointer;
}

.purchased{
    text-decoration: line-through;
}

/* .list-group{
   list-style: decimal inside;
} */

/* .list-group-item{
    display: list-item;
    margin: 5px;
} */